<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918194393650-njhbep6uh4nkraqjht09jostjg2n09ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918194393650-njhbep6uh4nkraqjht09jostjg2n09ju</string>
	<key>API_KEY</key>
	<string>AIzaSyA8jjbvZdjb2FYCIQI_aaKu4kCkmfq4yWk</string>
	<key>GCM_SENDER_ID</key>
	<string>918194393650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jesthersilvestre.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-a7545</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-a7545.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918194393650:ios:1288f1c4225272bd0b622b</string>
</dict>
</plist>